* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.hero {
  height: 100vh;
  background: url("../images/background.png");
}

header {
  position: absolute;
  width: 100%;
  height: 100px;
  line-height: 100px;
  display: flex;
  justify-content: flex-end; 
  border-bottom: 1px solid #999999 ;
}

.container {
  width: 1200px;
  margin: 0 auto;
  &.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    h1 {
      font-family: "Montserrat";
      font-style: normal;
      width:840px;
      font-weight: 800;
      font-size: 48px;
      line-height: 64px;
      text-align: center;
      color: #ffffff;
    }
    p {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #ffffff;
    }
  }
}

button {
  width: 200px;
  height: 45px;
  background: #4985ff;
  border-radius: 30px;
  color: #ffffff; 
}

header .container ul{
  display: flex;
  justify-content: flex-end;
  li {
    padding-left: 20px;
    list-style: none;
  }
  li:hover{
    border-bottom: 2px solid white;
  }
  a {
    text-decoration: none;
    color: #ffffff;
    opacity: 1;
  }
}


h2 {
  max-width: 750px;
  margin: 0 auto;
  padding-top: 110px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
}

p{
  padding-top: 50px;
  max-width: 730px;
  margin: 0 auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999 
}

.servises__items{
  padding-top: 80px;
  .servises__item{
    display: flex;
    img{
      width: 40px;
      height: 40px;
    }
  .servises__item-list{
      padding-left: 50px;
      padding-right: 40px;
      h3,p{
        text-align: left;
        padding: 0;
      }
    }
  }
}
.servises button{
  margin-top: 70px;
  margin-bottom:70px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  
}

.standarts{
  background: #F6F6F8;
  p{
    padding: 0;
  }
}

.container.standarts{
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #F6F6F8;
  .standarts__content{
    text-align: left;
    line-height: 100%;
    h2{
      text-align: left;
      width: 425px;
      margin: 0;
      padding: 0;
      padding-bottom: 40px;
    }
    p{
      text-align: left;
      width: 490px;
      padding-bottom: 30px;
    }
    a{
      padding-top: 30px;
      color: blue;
    }
    img{
      width:500px;
    }
  }
}

.standarts__projects{
    display: flex;
    width: 70px;
    justify-content: center;
    align-items: center;    
    .project-hight{
      display: flex;
      padding: 0;
    }
    .standarts__project p{
      padding: 0;
    }
    button{
      text-align: center;
    }
  }

  .fullscreen {
    position: relative;
    background:linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
    .container .background {
      position: absolute;
      width: 100%;
      background: white;
    }
    .background__hight{
      display: flex;
    }
    h2{
      text-align: left;
      color:white;
    }
    button{
      margin-top:150px;
    }
  }
  
  .projects-image{
    padding-top:70px ;
    justify-content: center;
    img{
      padding-right:30px;
    }
  }

  .projects button{
    margin-top: 70px;
    margin-bottom:70px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  hr{
    width: 1200px;
    margin-top:100px;
  }

.jobs{
  background:url("../images/jobs.png") no-repeat;
    height: 735px;
    .job{
        display: flex;
        justify-content: center;
      
      h2{
        color: white;
        text-align: center;
      }
      p{
        font-family: "Montserrat";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        color:white;
      }
     .job-video{
       display: flex;
       justify-content: center;
       width: 970px;
       height: 430px;
       position: absolute;
       margin-top:250px;
      .player{
        padding: 0;
        margin: 0;
        display:flex;
        width: 300px;
        height:100px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid white;
        border-radius: 200px;
        img{
          width: 60px;
          object-fit: contain;
          padding-left:30px;
          text-align: center;
        }
        p{
          line-height: 100px;
          padding:0;
        } 
      } 
    }
  }
}
.subsribers{
  margin-top:300px;
  p{
    padding:0;
    padding-top:30px;
    padding-bottom: 30px;
  }
  .subsribe{
   h3{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
   }
   .subsribe-form{
     display: flex;
     justify-content: center;
    input{
      height: 43px;
    }
    button{
      border-radius: 0 30px 30px 0;
    }
   }
  }
}
footer{
  background: #F6F6F8;
  p{
    padding-bottom:30px ;
  }
    .container.footer{
      display: flex;
      justify-content: space-between;
      .footer-inforation{
      padding-top:70px;
      h3{
        width: 245px;
      }
      .information-list{
        display: flex;
        width: 230px;
        padding-top:30px;
        img{
          width:16px;
          height: 16px;
        }
        .ok{
          width:7px;
          height: 7px;
        }
        a{
          text-decoration: none;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: #999999;
          text-align: left;
          padding-left:17px;
        }
      }
    }
  }
}