* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

.hero {
  height: 100vh;
  background: url("../images/background.png");
}

header {
  position: absolute;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
}

.container {
  width: 1200px;
  margin: 0 auto;
  &.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    h1 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 64px;
      text-align: center;
      color: #ffffff;
    }
    p {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #ffffff;
    }
  }
}

button {
  width: 200px;
  height: 45px;
  background: #4985ff;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  color: #ffffff; 
}

header .container ul {
  display: flex;
  justify-content: flex-end;
  li {
    padding-left: 20px;
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #ffffff;
    opacity: 1;
  }
}

.fullscreen {
  position: relative;
  .background {
    position: absolute;
    width: 100%;
    height: 50%;
    background: blue;
    z-index: 0;
  }
}

h2 {
  max-width: 750px;
  margin: 0 auto;
  padding-top: 110px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
}

p{
  padding-top: 50px;
  max-width: 730px;
  margin: 0 auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999 
}

.servises__items{
  padding-top: 80px;
  .servises__item{
    display: flex;
    img{
      width: 40px;
      height: 40px;
    }
  .servises__item-list{
      padding-left: 50px;
      padding-right: 40px;
      h3,p{
        text-align: left;
        padding: 0;
      }
    }
  }
}
.servises button{
  margin-top: 70px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}