* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

.hero {
  height: 100vh;
  background: url("../images/background.png");
}

header{
  position: absolute;
  height: 100px;
  width: 1200px;
  padding-left: 40px;
  padding-right:40px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  &.hero_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    h1{
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 64px;
      text-align: center;
      color: #FFFFFF;
    }
    p{
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #FFFFFF;
    }
    button{
      width: 200px;
      height: 45px;
      background: #4985FF;
      box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
      border-radius: 30px;
    }
  }

}

header .container ul,
li {
  display: flex;
  padding-left: 20px;
  justify-content: flex-end;
  a {
    text-decoration: none;
    color: #FFFFFF;
  }
}

.fullscreen {
  position: relative;
  .background {
    position: absolute;
    width: 100%;
    height: 50%;
    background: blue;
    z-index: 0;
  }
}